<%- include('includes/head.ejs') %> 

<br>
<h1 class="title"> SignUp </h1>

<form action="/usuarios/signup" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    
    <label for="nombre">Nombre</label>
    <input name="nombre" id="nombre" class="input is-rounded" type="text" placeholder="nombre" required>

    <br> <br>
    <label for="user">Username</label>
    <input name="user" id="user" class="input is-rounded" type="text" placeholder="user" required>

    <br> <br>
    <label for="password">Password</label>
    <input name="password" id="password" class="input is-rounded" type="text" placeholder="password" required>
    
    <br> <br>
    <input class="button is-rounded is-success" type="submit" value="Registrar">
</form>

<br>

<%- include('includes/foot.ejs') %>
