<%- include('includes/head.ejs') %>

    <title> Form </title>
</head>
<body>
    <form action='/form' method='POST'>
        <fieldset>
            <div> 
                <legend> Nombre </legend>
                <input type = 'text' name='name' required>
            </div>
            <br>
            <div> 
                <legend> Edad </legend>
                <input type='number' name='age' required>
            </div>
            <br>
            <div>
                <legend> Estación del año favorita </legend>
                <input type='radio' id='invierno' name='estacionFav' value='invierno' checked>
                <label for='invierno'> Invierno </label> <br>
                <input type='radio' id='primavera' name='estacionFav' value='primavera'>
                <label for='primavera'> Primavera </label> <br>
                <input type='radio' id='verano' name='estacionFav' value='verano'>
                <label for='verano'> Verano </label> <br>
                <input type='radio' id='otonio' name='estacionFav' value='otonio'>
                <label for='otonio'> Otoño </label> <br>
            </div>
            <br>
            <input type='submit' value='Magic >'>
        </fieldset>
    </form>

<%- include('includes/foot.ejs') %>
