<%- include('includes/head.ejs') %>

    <title> Sign Up </title>
</head>
<body>
    <form action='/signup' method='POST'>
        <fieldset>
            <div> 
                <legend> Nombre </legend>
                <input type = 'text' name='name' required>
            </div>
            <br>
            <div> 
                <legend> Username </legend>
                <input type = 'text' name='user' required>
            </div>
            <br>
            <div> 
                <legend> Password </legend>
                <input type = 'password' name='password' required>
            </div>
            <br>
            <input type='submit' value='Registrarme >'>
        </fieldset>
    </form>

<%- include('includes/foot.ejs') %>