        <p> <a href="/"> Home </a> </p>
        
        <footer id="footer"> 
            <p>
                Made with <a href="https://code.visualstudio.com/" target="_blank"> Visual Studio Code </a> <br>
                Ramona NF© 2023 <a href="mailto: a01423596@tec.mx"> a01423596@tec.mx </a>
            </p>
        </footer>
    </body>
</html>